
.header-content {
  p {
    position: relative;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: black;
    margin-top: 41px;
  }
}

#page-container {
  margin: auto;
  margin-top: 150px;
  width: 1200px;
  .content-container {
    display: flex;
    .graph-container {
      width: 75%;
      #bar-graph-container {
        width: 830px;
        height: 320px;
        margin: 0;
      }
      #lower-graph-container {
        height: 310px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .lower-graph {
          width: 250px;
          height: 250px;
        }
      }
    }
    .card-container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      .card {
        width: 260px;
        height: 124px;
      }
    }
  }
}

text {
  color: #fff;
}

.recharts-text{
  color: #fff !important;
}

.recharts-layer{
  color: #fff !important;
}

@media (max-width: 1024px) {
  #page-container {
    margin-top: 50px;
    width: 800px;
    .content-container {
      .graph-container {
        #bar-graph-container {
          width: 500px;
          height: 300px;
        }
        #lower-graph-container {
          height: 220px;
          .lower-graph {
            width: 150px;
            height: 150px;
          }
        }
      }
      .card-container {
        .card {
          width: 200px;
          height: 100px;
        }
      }
    }
  }
}

@media (max-width: 1424px) {
  #page-container {
    margin-top: 50px;
    margin-left: 50px;
  }
}


