#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}

.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-vertical-left, .ant-menu-root.ant-menu-vertical-right, .ant-menu-root.ant-menu-inline {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: white !important;
  background-color: black !important;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#logo-container {
  width: 300px;
}

.ant-layout {
  height: 100vh;
}

.ant-layout-sider {
  height: 100vh;
}

.ant-menu-item a {
  margin-top: 500px;
}